@model Inmobiliaria1.Models.Inmueble
@{
    ViewData["Title"] = "Details";
}
<h1>Inmueble</h1>
<hr />
<dl class="row">
    <dt class="col-sm-2">Dirección</dt>
    <dd class="col-sm-10">@Model.Direccion</dd>

    <dt class="col-sm-2">Uso</dt>
    <dd class="col-sm-10">@Model.Uso</dd>

    <dt class="col-sm-2">Ambientes</dt>
    <dd class="col-sm-10">@Model.Ambientes</dd>

    <dt class="col-sm-2">Precio</dt>
    <dd class="col-sm-10">@Model.Precio.ToString("C")</dd>

    <dt class="col-sm-2">Estado</dt>
    <dd class="col-sm-10">@Model.Estado</dd>

    <dt class="col-sm-2">Latitud</dt>
    <dd class="col-sm-10">
        @(Model.Latitud.HasValue ? $"{Model.Latitud:0.######}°" : "-")
    </dd>

    <dt class="col-sm-2">Longitud</dt>
    <dd class="col-sm-10">
        @(Model.Longitud.HasValue ? $"{Model.Longitud:0.######}°" : "-")
    </dd>

    <dt class="col-sm-2">Propietario</dt>
    <dd class="col-sm-10">@($"{Model.Propietario?.Apellido} {Model.Propietario?.Nombre}")</dd>

    <dt class="col-sm-2">Tipo de inmueble</dt>
    <dd class="col-sm-10">@Model.TipoInmueble?.Descripcion</dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>

