@model IEnumerable<Inmobiliaria1.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Dirección</th>
            <th>Uso</th>
            <th>Tipo</th>
            <th>Amb.</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Propietario</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.Direccion</td>
            <td>@item.Uso</td>
            <td>@item.TipoInmueble?.Descripcion</td>
            <td>@item.Ambientes</td>
            <td>@item.Precio.ToString("N2")</td>
            <td>@item.Estado</td>
            <td>@($"{item.Propietario?.Apellido} {item.Propietario?.Nombre}")</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
@if (!Model?.Any() ?? true)
{
        <tr>
            <td colspan="8">No records found.</td>
        </tr>
}
    </tbody>
</table>

