@model Inmobiliaria1.Models.Pago
@{
    ViewData["Title"] = $"Editar pago #{Model.Numero}";
}
<h3>@ViewData["Title"]</h3>

<form method="post" class="card p-3">
    @Html.AntiForgeryToken()

    <input type="hidden" name="id" value="@Model.Id" />
    <input type="hidden" name="contratoId" value="@Model.ContratoId" />

    <div class="mb-2">
        <label class="form-label">Detalle</label>
        <input name="detalle" class="form-control" value="@Model.Detalle" />
    </div>

    <div class="d-flex gap-2">
        <a asp-action="Index" asp-route-contratoId="@Model.ContratoId" class="btn btn-outline-secondary">Volver</a>
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/localization/messages_es.min.js"></script>
}
